.form-section {
    background-color: #F8FAFC;
    min-height: 100vh;
}

.form-container {
    width: 40%;
    margin: auto;
    padding-top: 50px;
}

.form-part {
    margin-top: 20px;
    border: 1px solid #ABABAB;
    padding: 40px;
    background-color: #FFF;
    border-radius: 2px;
}

.form-title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.form {
    display: grid;
}

.form-btn {
    background-color: #3F90FC;
    color: #fff;
    border: none;
    padding: 10px 0px;
    border-radius: 2px;
    margin-top: 24px;
    font-size: 16px;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #348afa;
}

.have-an-account{
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.have-an-account a {
    color: #348afa;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .form-container {
        width: 94%;
        margin: auto;
        padding-top: 50px;
    }

    .form-part {
        margin-top: 20px;
        padding: 20px;
    }
}


/* responsive tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .form-container {
        width: 80%;
    }
}