.blog-section {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-image {
    flex: 1;
    text-align: center;
}

.blog-info {
    flex: 1;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .blog-section {
        margin-top: 10px;
        display: block;
    }

    .blog-image img {
        width: 100%;
    }
}