.volunteer {
    position: relative;
}

.volunteer-title {
    position: absolute;
    bottom: -11px;
    width: 100%;
}

.volunteer-title h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px 12px;
    font-weight: 400;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}